*{
    font-family: Roboto;
}
body{
    margin: 0px;
}
.header{
    width: 100%;
    height: 65px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.head{
    width: 70%;
    height: 72px;;
    display: flex;
    justify-content: space-between;
}

#img{
    height: 65px;
}
#ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight:550;
    font-size: 15px;
    align-items: center;
    color: white;
    padding:1px 100px;
}
.section1{
    height: 633px;
    width: 100%;
    background-image: url(./images/heroimg.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1-main{
height: 200px;
width: 400px;;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
h1{
    margin: 0px;
    font-size:50px;
}
p{
    margin: 0px ;
    font-size:20px ;
}
.section2{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:35px 0px;
}
.section3{
    width: 100%;
    height: 911px;
    display: flex;
    justify-content: center;
}
.main{
    width: 70%;
    height: 811px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
    column-gap: 90px;
}
.image{
    width:100%;
    border-radius: 20px;
    cursor: pointer;
}
.para{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    color: rgb(95, 91, 91);
}
.section4{
    width:100%;
    height: 580px;
    display: flex;
    justify-content: center;
}
.section4-main{
    width:70%;
    height:580px;
    display:flex;
}
.main-div1{
    width:60%;
    height:100%;
}
.main-div2{
    width:40%;
    height:100%;
}
.paragraph{
    font-size: 16px;
    width:80%;
    margin-top: 30px;
}
#sec4-img{
    width:80%;
}
.section5{
    width: 100%;
    height: 550px;
    background-color: black;
    display: flex;
    padding:30px 0px;
}
.sec5-div1{
    width: 50%;
    height: 100%;
}
.sec5-div2{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: white;
}
#sec5-img{
    position: relative;
    top: -93px;
    right: -186px;
}
#btn{
    width: 110px;
    height: 33px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color:  rgb(95, 91, 91);
    font-weight:900;
    font-size: 13px;
}
#btn:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}
#sec5-h{
    margin-top: 100px;
}
.footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black
}
